lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
dist

node_modules
npm-debug.log*
typings

src/model/.gitignore
src/model/.swagger-codegen-ignore
src/model/git_push.sh
src/model/.swagger-codegen/

test/.env
.idea
es6
